body{
  background-image: url('./image1.jpg');
  background-position:fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  color: white;
  width: 140px;
  font-weight: 600;
  font-size: 20px;
  float: right;
  border-radius: 30px;
  border: none;
  background-color: cadetblue;
  padding: 13px 10px;
  margin-top: 13px;
  font-family:'Times New Roman', Times, serif;
}

button:hover {
  scale: 1.03;
  background-color: #000000;
  font-weight: bolder;
  cursor: pointer;
}

.brand-name {
  height: 100vh;
  margin-top: 10px;
  width: 80%;
  float: left;
  font-family:'Times New Roman', Times, serif;
  color:yellow;
  font-weight: bold;
  text-shadow: 1px 2px 3px rgb(15, 31, 53);
  letter-spacing: 1.0px;
}

.get-users {
  height: 80%;
  float: left;
  width: 30%;
  margin-right: 50px;
 
}

.navbar {
  display: flex;
  height: 80px;
  padding-left: 15px;
}

.layout { 
background-color: rgba(47, 77, 78, 0.76);
}


.avatar {
  border-radius: 30%;
  box-shadow:2px 2px 3px #000000;
}

.grid {
  display:grid;
  float: left ;
  width: 33% ;
}
h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 0px;
  font-size: 50px;
}

.card {
  border: #000000;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  max-width: 300px;
  height: 250px;
  margin: 20px 6px;
  margin-left: 90px;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  padding: 10px;
  border-radius: 10%;
  background-color: #0f95be67;
}

.card:hover {
  transition: 400ms;
  box-shadow: 8px 8px 5px #494E6B;
  transform: translateY(-8px);
}
.details {
  display: block;
  background-color: rgba(245, 245, 220, 0.644);
  border-radius: 10px;
}
.email {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  overflow-wrap: anywhere;
}
.name {
  margin-top: 3px;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgb(48, 67, 233);
  text-transform: uppercase;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

#main {
  padding: 7px 50px;
  margin: 0 auto;
  display: none;
  
}
.Loader {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  text-align: center;
  size: 100%;
  align-self: center;
}
.loading {
  align-self: center;
}